[Unit]
Description=Init VtTablet
Requires=vttablet-401.service vttablet-402.service vttablet-403.service network.target
After=vttablet-401.service vttablet-402.service vttablet-403.service network.target

[Service]
Type=oneshot
WorkingDirectory=/home/vitess/
User=vitess
Group=vitess

# Assign primary and replicas to move in serving state
ExecStart=/home/vitess/assign_primary_replica.sh

StandardOutput=journal
StandardError=journal
SyslogIdentifier=Vitess

[Install]
WantedBy=multi-user.target
