[mysqld]
# Global configuration that is auto-included for all MySQL/MariaDB versions

datadir = /vt/vt_0000000{{tablet_uid}}/data
innodb_data_home_dir = /vt/vt_0000000{{tablet_uid}}/innodb/data
innodb_log_group_home_dir = /vt/vt_0000000{{tablet_uid}}/innodb/logs
log-error = /vt/vt_0000000{{tablet_uid}}/error.log
log-bin = /vt/vt_0000000{{tablet_uid}}/bin-logs/vt-0000000{{tablet_uid}}-bin
relay-log = /vt/vt_0000000{{tablet_uid}}/relay-logs/vt-0000000{{tablet_uid}}-relay-bin
relay-log-index =  /vt/vt_0000000{{tablet_uid}}/relay-logs/vt-0000000{{tablet_uid}}-relay-bin.index
pid-file = /vt/vt_0000000{{tablet_uid}}/mysql.pid
port = 17{{tablet_uid}}


secure-file-priv = /vt/vt_0000000{{tablet_uid}}/tmp


server-id = {{tablet_uid}}

# all db instances should skip starting replication threads - that way we can do any
# additional configuration (like enabling semi-sync) before we connect to
# the source.
skip_replica_start
socket = /vt/vt_0000000{{tablet_uid}}/mysql.sock
tmpdir = /vt/vt_0000000{{tablet_uid}}/tmp

slow-query-log-file = /vt/vt_0000000{{tablet_uid}}/slow-query.log

# These are sensible defaults that apply to all MySQL/MariaDB versions

long_query_time = 2
slow-query-log
skip-name-resolve
connect_timeout = 30
innodb_lock_wait_timeout = 20
max_allowed_packet = 64M


# This file is auto-included when MySQL 8.0 is detected.

# MySQL 8.0 enables binlog by default with sync_binlog and TABLE info repositories
# It does not enable GTIDs or enforced GTID consistency

gtid_mode = ON
enforce_gtid_consistency
relay_log_recovery = 1
binlog_expire_logs_seconds = 86400

# disable mysqlx
mysqlx = 0

# 8.0 changes the default auth-plugin to caching_sha2_password
default_authentication_plugin = mysql_native_password

# Semi-sync replication is required for automated unplanned failover
# (when the primary goes away). Here we just load the plugin so it's
# available if desired, but it's disabled at startup.
#
# VTTablet will enable semi-sync at the proper time when replication is set up,
# or when a primary is promoted or demoted based on the durability policy configured.
plugin-load = rpl_semi_sync_source=semisync_master.so;rpl_semi_sync_replica=semisync_slave.so

# MySQL 8.0 will not load plugins during --initialize
# which makes these options unknown. Prefixing with --loose
# tells the server it's fine if they are not understood.
loose_rpl_semi_sync_master_timeout = 1000000000000000000
loose_rpl_semi_sync_master_wait_no_slave = 1

# In order to protect against any errand GTIDs we will start the mysql instance
# in super-read-only mode.
super-read-only

# Custom settings
innodb_buffer_pool_size = 10G
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 160M
innodb_redo_log_capacity = 960M
open_files_limit = 80000
max_connections = 10000

# For ACID (README: https://severalnines.com/blog/how-fix-lock-wait-timeout-exceeded-error-mysql/)
innodb_rollback_on_timeout = 1
